html {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
    text-align: left;
}
body {
    background-image: url(../image/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #000;
}
a, a:visited {
    text-decoration: none;
    color: white;
}
a:focus, a:hover {
    color: lightgray;
}
header {
}
footer {
    background-color: #00000055;
    color: lightgray;
    font-size: 70%;
}
span {
    display: inline;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.no-mobile {
    display: none;
}
.button.button-primary {
    min-width: 220px;
    background-color: black;
    border-color: black;
}
.button.button-primary:focus, .button.button-primary:hover, button.button-primary:focus, button.button-primary:hover, input[type=button].button-primary:focus, input[type=button].button-primary:hover, input[type=reset].button-primary:focus, input[type=reset].button-primary:hover, input[type=submit].button-primary:focus, input[type=submit].button-primary:hover {
    background-color: #555;
    border-color: black;
}
.button svg {
    font-size: 2rem;
    position: relative;
    top: .2rem;
    left: -.2rem;
    float: left;
}
.button.button-ht {
    text-transform: none;
    letter-spacing: unset;
    background-color: black;
    border-color: black;
    color: white;
}
.button.button-ht:focus, .button.button-ht:hover, button.button-ht:focus {
    background-color: #555;
    border-color: black;
}
.button-ht {
    min-width: 250px;
    font-size: .9rem;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }
.ml25 { margin-left: 25%; }
.ml5 { margin-left: 5%; }
.mr25 { margin-right: 25%; }
.mr5 { margin-right: 5%; }
.m-auto {
    margin-left: auto;
    margin-right: auto;
}
.mb20 {
    margin-bottom: 20px;
}

input[type='checkbox'].toggle {
  display: none;
}
.lbl-toggle {
  display: block;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.25s ease-out;
  background-color: black;
  color: white;
  font-size: .8rem;
  margin-left: 10px;
  margin-right: 10px;
}
.lbl-toggle:hover {

}
.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}
.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 1200px;
}
.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}
.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.text-in {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 45%;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    white-space: nowrap;
}
.ht-box {
    background-color: white;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.ht-form {
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
    margin-bottom: 1rem;
}
.ht-form input, textarea {
    border-color: #bbb;
    background-color: #fbfbfb;
    font-weight: 100;
    font-size: medium;
    min-height: 38px;
    height: 38px;
    padding: 6px 10px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}
.ht-form textarea {
    min-height: 80px;
}
.ht-form input:focus {
    border-color: black;
    outline: black auto 0px;
}
.ht-form textarea:focus {
    border-color: black;
    outline: black auto 0px;
}
.ht-submit-row {
    text-align: right;
}
.ht-form label {
    text-align: left;
    font-size: .7rem;
    margin-bottom: 0px;
    font-style: italic;
}
.ht-tip {
    font-size: 0.85rem;
    font-style: italic;
    color: gray;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.ht-header {
    margin-top: 40px;
    min-height: 50px;
    position: relative;
}
.ht-block {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}
.ht-white-block {
    background-color: #ffffffee;
}
.ht-entry-block {
    max-width: 300px;
}
.ht-up {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    position: absolute;
}
.ht-up-img {
}
.ht-up-img img {
    border-radius: 25px;
}
.ht-title {
    margin-left: 70px;
    color: black;
    font-weight: 600;
}
.ht-info {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 90%;
}
.ht-txt-big {
    font-size: 25px;
}
.ht-delete {
    background-color: white;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.ht-delete .lbl-toggle {
    margin: 0px;
}
.ht-monitors {
    padding-top: 15px;
    padding-bottom: 10px;
}
.ht-monitor {
    margin-left: 10px;
    margin-right: 10px;
}
.ht-polls {
    padding-top: 15px;
    padding-bottom: 10px;
}
.ht-poll {
    margin-left: 10px;
    margin-right: 10px;
}
.ht-resume {
    font-size: 1.1rem;
    padding-bottom: 10px;
}
.ht-result-box {
    text-align: left;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 10px;
}
.ht-result-box:nth-child(even) div {
    background-color: #eaeaea;
}
.ht-result-box.highlight {
    padding-bottom: 0px;
}
header.ht-result-box.highlight {
    margin-bottom: 0px;
}
header.ht-result {
    font-weight: bold;
    background-color: black;
    border-radius: 20px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
.ht-result {
    padding-left: 15px;
    padding-right: 5px;
}
div.ht-result:nth-child(odd) {
    background-color: #fbfbfb;
}
.ht-poll-clocks {
    font-size: 50%;
    text-align: center;
    padding-left: 10px;
    padding-right: 5px;
}
.ht-poll-clocks-data {
    display: inline-block;
}
.ht-poll-clocks-mark {
    margin-top: 5px;
    font-weight: bold;
}
.ht-poll-clocks-data footer {
    background-color: unset;
    color: unset;
    font-size: 90%;
    margin-top: 5px;
    margin-bottom: 10px;
}
.ht-proposal {
    font-size: 60%;
    margin: 25px;
    padding-bottom: 10px;
    background-color: #fafafa;
    border-radius: 20px;
}
.ht-proposal header {
    font-weight: bold;
    background-color: black;
    color: white;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.ht-proposal footer {
    text-align: right;
    background-color: unset;
    font-size: unset;
    color: unset;
    height: 38px;
}
.ht-proposal button {
    padding: 5px;
    height: 28px;
    line-height: unset;
    background-color: white;
    float: right;
    margin-right: 20px;
}
.ht-proposal-subject {
    line-height: 1.2;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    margin-top: 25px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: left;
    white-space: pre-line;
}
.ht-vote-info {
    display: inline-block;
    padding: 5px;
    background-color: white;
    color: black;
    float: right;
    margin-right: 20px;
    font-size: 90%;
}
header.ht-user-rank {
    background-color: black;
    border-radius: 15px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 90%;
}
.ht-ranking {
    display: table;
    background-color: #212121;
    font-size: 5vw;
    max-width: 400px;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}
.ht-score {
    display: table-row;
}
.ht-score .nickname {
    display: table-cell;
    text-align: left;
    padding-left: 10px;
}
.ht-score .score {
    display: table-cell;
    text-align: right;
    color: #ffffdb;
}
.ht-score .rank {
    display: table-cell;
    text-align: center;
    color: #ffffdb;
    font-size: 85%;
}
.ht-score .hashtag {
    font-size: 80%;
}
.ht-score .quantity {
    color: #ffffdb;
}
.ht-score .type {
    display: table-cell;
    text-align: left;
    color: white;
    padding-left: 10px;
}
.ht-score.table-header div {
    display: table-cell;
    background-color: black;
    color: white;
    font-weight: bold;
}

.ht-ok {
}
.ht-footer {
    text-align: center;
    margin-top: 20px;
}
.ht-footer p {
    margin: 2px;
}
/* Larger than mobile */
@media (min-width: 400px) {
    .ht-poll-clocks {
        font-size: 60%;
    }
    .ht-ranking {
        font-size: 4.5vw;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
    .no-mobile {
        display: unset;
    }
    .ht-footer-l p {
        text-align: left;
        margin-left: 25%;
    }
    .ht-footer-r p {
        text-align: right;
        margin-right: 25%;
    }
    .ht-ranking {
        font-size: 1.3rem;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}