<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>


<mapper namespace='cat.xarxarepublicana.hashtagsxrep.infrastructure.repository.jdbc.mapper.PollMapper'>

    <resultMap id='PollResultMap' type="cat.xarxarepublicana.hashtagsxrep.domain.poll.Poll">
        <constructor>
            <idArg column="id" javaType="string" />
            <arg column="author_id" javaType="string" />
            <arg column="nickname" javaType="string" />
            <arg column="description" javaType="string" />
            <arg column="creation_date" javaType="java.time.LocalDateTime" />
            <arg column="start_proposals_time" javaType="java.time.LocalDateTime" />
            <arg column="end_proposals_time" javaType="java.time.LocalDateTime" />
            <arg column="end_voting_time" javaType="java.time.LocalDateTime" />
            <arg column="start_event_time" javaType="java.time.LocalDateTime" />
        </constructor>
    </resultMap>

    <resultMap id='ProposalResultMap' type="cat.xarxarepublicana.hashtagsxrep.domain.poll.Proposal">
        <constructor>
            <idArg column="poll_id" javaType="string" />
            <idArg column="author_id" javaType="string" />
            <arg column="nickname" javaType="string" />
            <arg column="hashtag" javaType="string" />
            <arg column="subject" javaType="string" />
            <arg column="creation_date" javaType="java.time.LocalDateTime" />
        </constructor>
    </resultMap>

    <sql id="sqlPollUserJoin">
        SELECT p.id, p.author_id, u.nickname, p.description,
        p.creation_date, p.start_proposals_time, p.end_proposals_time, p.end_voting_time, p.start_event_time
        FROM POLL p, USER u
        WHERE p.author_id = u.id
    </sql>

    <sql id="sqlProposalUserJoin">
        SELECT p.poll_id, p.author_id, u.nickname,
            p.hashtag, p.subject, p.creation_date
        FROM POLL_PROPOSAL p, USER u
        WHERE p.author_id = u.id
    </sql>

    <select id='selectOneById' resultMap="PollResultMap">
        <include refid="sqlPollUserJoin"/>
        AND p.id = #{id}
    </select>

    <select id="selectActive" resultMap="PollResultMap">
        <include refid="sqlPollUserJoin"/>
        AND p.start_event_time >= NOW()
        ORDER BY p.creation_date DESC
    </select>

    <insert id='insert'>
        INSERT INTO POLL (id, author_id, description, creation_date,
        start_proposals_time, end_proposals_time, end_voting_time, start_event_time)
        VALUES (#{poll.id}, #{poll.authorId}, #{poll.description}, #{poll.creationDate},
        #{poll.startProposalsTime}, #{poll.endProposalsTime}, #{poll.endVotingTime}, #{poll.startEventTime})
    </insert>

    <select id="existsProposal" resultType="boolean">
        SELECT exists (
            SELECT 1 FROM POLL_PROPOSAL
            WHERE poll_id = #{pollId} AND author_id = #{authorId}
        )
    </select>

    <select id="selectOneProposalById" resultMap="ProposalResultMap">
        <include refid="sqlProposalUserJoin"/>
        AND poll_id = #{pollId} AND author_id = #{authorId}
    </select>

    <insert id='insertProposal'>
        INSERT INTO POLL_PROPOSAL (poll_id, author_id, hashtag, subject, creation_date)
        VALUES (#{proposal.pollId}, #{proposal.authorId}, #{proposal.hashtag}, #{proposal.subject}, #{proposal.creationDate})
    </insert>

    <select id="selectProposalsList" resultMap="ProposalResultMap">
        <include refid="sqlProposalUserJoin"/>
        AND poll_id = #{pollId}
        ORDER BY creation_date ASC
    </select>

    <insert id='insertVote'>
        INSERT INTO POLL_VOTE (poll_id, proposal_author_id, proposal_voter_id)
        VALUES (#{proposal.pollId}, #{proposal.authorId}, #{voter.id})
    </insert>

    <select id="selectVotedProposal" resultMap="ProposalResultMap">
        SELECT p.poll_id, p.author_id, u.nickname,
            p.hashtag, p.subject, p.creation_date
        FROM POLL_PROPOSAL p, USER u, POLL_VOTE v
        WHERE p.author_id = u.id
            and v.poll_id=p.poll_id
            and v.proposal_author_id=p.author_id
            and v.proposal_voter_id=${voter.id}
            and p.id={proposal.pollId}
    </select>
</mapper>