<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>


<mapper namespace='cat.xarxarepublicana.hashtagsxrep.infrastructure.repository.jdbc.mapper.PollMapper'>

    <resultMap id='PollResultMap' type="cat.xarxarepublicana.hashtagsxrep.domain.poll.Poll">
        <constructor>
            <idArg column="id" javaType="string" />
            <arg column="author_id" javaType="string" />
            <arg column="nickname" javaType="string" />
            <arg column="description" javaType="string" />
            <arg column="creation_date" javaType="java.time.LocalDateTime" />
            <arg column="start_proposals_time" javaType="java.time.LocalDateTime" />
            <arg column="end_proposals_time" javaType="java.time.LocalDateTime" />
            <arg column="end_voting_time" javaType="java.time.LocalDateTime" />
            <arg column="start_event_time" javaType="java.time.LocalDateTime" />
        </constructor>
    </resultMap>

    <sql id="sqlPollUserJoin">
        SELECT p.id, p.author_id, u.nickname, p.description,
        p.creation_date, p.start_proposals_time, p.end_proposals_time, p.end_voting_time, p.start_event_time
        FROM POLL p, USER u
        WHERE p.author_id = u.id
    </sql>

    <select id='selectOneById' resultMap="PollResultMap">
        <include refid="sqlPollUserJoin"/>
        AND p.id = #{id}
    </select>

    <select id="selectLast" resultMap="PollResultMap">
        <include refid="sqlPollUserJoin"/>
        ORDER BY p.creation_date DESC
        LIMIT #{quantity}
    </select>

    <insert id='insert'>
        INSERT INTO POLL (id, author_id, description, creation_date,
        start_proposals_time, end_proposals_time, end_voting_time, start_event_time)
        VALUES (#{poll.id}, #{poll.authorId}, #{poll.description}, #{poll.creationDate},
        #{poll.startProposalsTime}, #{poll.endProposalsTime}, #{poll.endVotingTime}, #{poll.startEventTime})
    </insert>

</mapper>