<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>


<mapper namespace='cat.xarxarepublicana.hashtagsxrep.infrastructure.repository.jdbc.mapper.PollMapper'>

    <resultMap id='PollResultMap' type="cat.xarxarepublicana.hashtagsxrep.domain.poll.Poll">
        <constructor>
            <idArg column="id" javaType="string" />
            <arg column="author_id" javaType="string" />
            <arg column="nickname" javaType="string" />
            <arg column="description" javaType="string" />
            <arg column="monitor_id" javaType="string" />
            <arg column="creation_date" javaType="java.time.LocalDateTime" />
            <arg column="start_proposals_time" javaType="java.time.LocalDateTime" />
            <arg column="end_proposals_time" javaType="java.time.LocalDateTime" />
            <arg column="end_voting_time" javaType="java.time.LocalDateTime" />
            <arg column="start_event_time" javaType="java.time.LocalDateTime" />
        </constructor>
    </resultMap>

    <resultMap id='ProposalResultMap' type="cat.xarxarepublicana.hashtagsxrep.domain.poll.Proposal">
        <constructor>
            <idArg column="poll_id" javaType="string" />
            <idArg column="author_id" javaType="string" />
            <arg column="nickname" javaType="string" />
            <arg column="hashtag" javaType="string" />
            <arg column="subject" javaType="string" />
            <arg column="creation_date" javaType="java.time.LocalDateTime" />
            <arg column="vote_count" javaType="integer" />
        </constructor>
    </resultMap>

    <sql id="sqlPollJoin">
        SELECT p.id, p.author_id, u.nickname, p.description, m.id as monitor_id,
            p.creation_date, p.start_proposals_time, p.end_proposals_time, p.end_voting_time, p.start_event_time
        FROM POLL p
            INNER JOIN USER u on p.author_id = u.id
            LEFT JOIN MONITOR m on p.id = m.id
    </sql>

    <sql id="sqlProposalJoin">
        SELECT proposal.poll_id, proposal.author_id, user.nickname,
            proposal.hashtag, proposal.subject, proposal.creation_date,
            count(vote.proposal_voter_id) as vote_count
        FROM POLL_PROPOSAL proposal
            INNER JOIN USER user ON proposal.author_id=user.id
            LEFT JOIN POLL_VOTE vote ON proposal.poll_id=vote.poll_id AND proposal.author_id=vote.proposal_author_id
    </sql>
    <sql id="sqlProposalGroupAndOrder">
        GROUP BY proposal.poll_id, proposal.author_id
        ORDER BY <if test="_parameter.containsKey('orderVotes') and orderVotes != null and orderVotes == true">vote_count DESC,</if> proposal.creation_date ASC
    </sql>

    <select id='selectOneById' resultMap="PollResultMap">
        <include refid="sqlPollJoin"/>
        WHERE p.id = #{id}
    </select>

    <select id="selectLastStarted" resultMap="PollResultMap">
        <include refid="sqlPollJoin"/>
        ORDER BY p.creation_date DESC
        LIMIT ${quantity}
    </select>

    <select id="selectFinishedPollsWithNoMonitor" resultMap="PollResultMap">
        <include refid="sqlPollJoin"/>
        WHERE m.id is NULL and p.end_voting_time &lt;= NOW()
        ORDER BY p.creation_date DESC
    </select>

    <insert id='insert'>
        INSERT INTO POLL (id, author_id, description, creation_date,
        start_proposals_time, end_proposals_time, end_voting_time, start_event_time)
        VALUES (#{poll.id}, #{poll.authorId}, #{poll.description}, #{poll.creationDate},
        #{poll.startProposalsTime}, #{poll.endProposalsTime}, #{poll.endVotingTime}, #{poll.startEventTime})
    </insert>

    <select id="existsProposal" resultType="boolean">
        SELECT exists (
            SELECT 1 FROM POLL_PROPOSAL
            WHERE poll_id = #{pollId} AND author_id = #{authorId}
        )
    </select>

    <select id="selectOneProposalById" resultMap="ProposalResultMap">
        <include refid="sqlProposalJoin"/>
        WHERE proposal.poll_id = #{pollId} AND proposal.author_id = #{authorId}
        <include refid="sqlProposalGroupAndOrder"/>
    </select>

    <insert id='insertProposal'>
        INSERT INTO POLL_PROPOSAL (poll_id, author_id, hashtag, subject, creation_date)
        VALUES (#{proposal.pollId}, #{proposal.authorId}, #{proposal.hashtag}, #{proposal.subject}, #{proposal.creationDate})
    </insert>

    <update id='updateProposal'>
        UPDATE POLL_PROPOSAL SET
            hashtag = #{proposal.hashtag},
            subject = #{proposal.subject},
            creation_date = creation_date
        WHERE poll_id = #{proposal.pollId} AND author_id = #{proposal.authorId}
    </update>

    <select id="selectProposalsList" resultMap="ProposalResultMap">
        <include refid="sqlProposalJoin"/>
        WHERE proposal.poll_id = #{pollId}
        <include refid="sqlProposalGroupAndOrder"/>
    </select>

    <insert id='insertVote'>
        INSERT INTO POLL_VOTE (poll_id, proposal_author_id, proposal_voter_id)
        VALUES (#{proposal.pollId}, #{proposal.authorId}, #{voter.id})
    </insert>

    <select id="selectVotedProposal" resultMap="ProposalResultMap">
        <include refid="sqlProposalJoin"/>
        WHERE proposal.poll_id = #{pollId} AND vote.proposal_voter_id=#{voterId}
        <include refid="sqlProposalGroupAndOrder"/>
    </select>

    <select id="selectWinnerProposal" resultMap="ProposalResultMap">
        <include refid="sqlProposalJoin"/>
        WHERE proposal.poll_id = #{pollId}
        GROUP BY proposal.poll_id, proposal.author_id
        ORDER BY vote_count DESC, proposal.creation_date ASC
        LIMIT 1
    </select>

    <delete id="delete">
        DELETE FROM POLL WHERE id = #{pollId}
    </delete>

    <delete id="deleteProposals">
        DELETE FROM POLL_PROPOSAL WHERE poll_id = #{pollId}
    </delete>

    <delete id="deleteVotes">
        DELETE FROM POLL_VOTE WHERE poll_id = #{pollId}
    </delete>

</mapper>